/*清除默认边框样式*/
* {
    padding: 0;
    margin: 0;
}

/*清除所有li格式*/
li {
    list-style: none;
}

/*主宽度*/
.w {
    width: 1200px;
    margin: 0 auto;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    *zoom: 1;
}


/*最上导航栏*/
.header {
    border-top: 1px solid transparent;
    height: 100px;
    background-color: #f3f5f7;
}
/*头部盒子*/
.header-middle {
    margin: 30px auto;
}

.header a {
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #030303;
    text-decoration: none;
    margin: 0 10px;
    padding: 0 10px;
}


.logo {
    width: 195px;
    height: 40px;
    margin: 0 20px;
}

.right .user-info {
    color: #666666;
}
/*用户头像*/
.user-avater {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: -10px;
    margin-left: 10px;
}

.left li{
    float: left;
}

.right li {
    float: right;
}

.header a:hover {
    padding-bottom: 6px;
    border-bottom: 3px solid lightblue;
}

.find-text {
    float: left;
    height: 28px;
    width: 200px;
    line-height: 40px;
    padding: 0 0 0 5px;
    border: none;
    outline: none;
}
.find-btn {
    float: left;
    height: 30px;
    width: 32px;
    border: none;
    border-radius: 0;
    background: #00a4ff url(img/find.png) center;
}
.find-text-area {
    height: 30px;
    width: 237px;
    margin: 5px;
    border: 1px solid #00a4ff;
}
.nav {
    background-color: #f3f5f7;
}
.scroll-view-img{
    height: 422px;
    background: url(img/nav-scroll-view.png);
}

.nav-left {
    float: left;
    height: 396px;
    width: 190px;
    padding: 13px 0;
    background-color: rgba(33, 4, 110, 0.6);
}

.nav-left ul {
    text-align: center;
}

.nav-left li {
    height: 44px;
    padding: 0 20px;
}
.nav-left li:hover {
    height: 44px;
    padding: 0 20px;

    background-color: rgba(10, 6, 54, 0.6);
}


.nav-left li a {
    float: left;
    height: 44px;
    color: #fff;
    font-size:14px;
    text-decoration: none;
    line-height: 44px;
}

.nav-left li a:hover {
    color: #00b4ff;
}

.scroll-view-toRight {
    float: right;
    width: 14px;
    height: 14px;
    padding: 15px 0;
}

.nav-right {
    float: right;
    width: 230px;
    height: 300px;
    background: #fff;
    margin: 50px 0;
}

.my-classes {
    width: 230px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    line-height: 50px;
    text-align: center;
    background: #9BCEEA;
}

.my-classes-list {
    border-top: 1px solid transparent;
    margin-top: 5px;
    background-color: #fff;
}

.my-classes-list li {
    height: 30px;
    padding: 15px 0;
    margin: 0 15px;
    border-bottom: 1px solid #eaeaea;
}

.class-text1 {
    display: block;
    font-size: 15px;
    color: #4e4e4e;
}

.class-text2 {
    display: block;
    font-size: 13px;
    color: #a5a5a5;
}

.all-classes-btn {
    width: 200px;
    height: 40px;
    border-radius: 0;
    margin: 9px 14px;
    border: 2px solid #22b0ff;
    font-size: 15px;
    color: #22b0ff;
    background-color: #fff;
}
.all-classes-btn:hover {
    color: #fff;
    border: 2px solid #22b0ff;
    background-color: #22b0ff;
}

.modules {
    border-top: 1px solid transparent;
    background-color: #f3f5f7;
}
.all-modules {
    height: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    padding: 22px 0;
    box-shadow: 2px 5px 21px #ccc;
}
.all-modules li a {
    height: 18px;
    color: #000;
    margin: 0 34px;
    text-decoration: none;
}
.all-modules .recommend {
    color: #00a4ff;
}

.all-modules .modules-more {
    float: right;
    margin: 0 34px;
    text-decoration: none;
    color: #00a4ff;
}
.module {
    height: 20px;
    padding: 38px 0 24px 0;
}
.module a {
    text-decoration: none;
}
.module .module-name {
    float: left;
    color: #494949;
    font-size: 19px;
}

.module .module-more {
    float: right;
    font-size: 14px;
    color: #828282;
    padding-right: 30px;
}

.module-box {
    /*height: 557px;*/
}

.module-box a{
    float: left;
    height: 278px;
    width: 236px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.module-box .class1{
    background: url("img/class1.png");
}

.module-box .rightest-class{
    margin-right: 0;
}

.start-img-big{
    display: inline-block;
    height: 392px;
    width: 218px;
    color: #fff;
    font-size: 100px;
    line-height: 130px;
    font-weight: bolder;
    text-decoration: none;
    padding-left: 10px;
    background-image: url(img/start-big.png);
}

.start .start-left{
    height: 392px;
    width: 228px;
    float: left;
    margin-right: 15px;
}

.start .start-right {
    height: 392px;
    width: 957px;
    float: right;
}

.start-img-middle {
    float: left;
    height: 100px;
    width: 957px;
    margin-bottom: 22px;
    background-image: url(img/start-middle.png);
}

.start-img-small {
    height: 270px;
    width: 228px;
    float: left;
    background-image: url(img/start-small.png);
    margin-right: 15px;
}

.rightest-class {
    margin-right: 0;
}

.start {
    /*margin-bottom: 100px;*/
}

.footer{
    border-top: 1px solid transparent;
    height: 415px;
}
.footer-box {
    height: 200px;
}
.footer-left {
    float: left;
    height: 200px;
    width: 600px;
}
.footer-right {
    float: right;
    height: 200px;
    width: 600px;
}
.footer-left img {
    margin: 35px 0 25px 20px;
}

.footer-induction-text {
    font-size: 14px;
    line-height: 18px;
    color: #a5a5a5;
    margin: 0 0 0 20px;
}

.footer-download-btn {
    border-radius: 0;
    font-size: 15px;
    height: 34px;
    width: 120px;
    border: 2px solid #22b0ff;
    color: #22b0ff;
    background-color: #fff;
    margin: 20px;
}

.footer-download-btn:hover {
    color: #fff;
    border: 2px solid #22b0ff;
    background-color: #22b0ff;
}

.links dl {
    float: right;
    margin: 35px 20px 0 100px;
}

.links dt {
    font-size: 14px;
    color: #333;
    line-height: 40px;
}

.links dd {
    font-size: 10px;
    color: #333;
    line-height: 25px;
}